dl,
ol,
ul {
  margin-bottom: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

#vue-my-toasts-root {
  max-width: var(--vueMyToastsWidth);
  width: var(--vueMyToastsWidth);
  padding: var(--vueMyToastsPadding);
  position: fixed;
  z-index: 999999;
}

.vue-my-toasts-wrapper {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.vue-my-toasts-wrapper.top-right,
.vue-my-toasts-wrapper.top-left,
.vue-my-toasts-wrapper.top-middle {
  flex-direction: column;
}

.vue-my-toasts-wrapper.bottom-right,
.vue-my-toasts-wrapper.bottom-left,
.vue-my-toasts-wrapper.bottom-middle {
  flex-direction: column-reverse;
}

.vue-my-toasts.bottom-right {
  bottom: 0;
  right: 0;
}

.vue-my-toasts.bottom-left {
  bottom: 0;
  left: 0;
}

.vue-my-toasts.bottom-left {
  bottom: 0;
  left: 0;
}

.vue-my-toasts.top-right {
  top: 0;
  right: 0;
}

.vue-my-toasts.top-left {
  top: 0;
  left: 0;
}

.vue-my-toasts.top-middle {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.vue-my-toasts.bottom-middle {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
